body {
    background-color: black;
}

#questionPrompt {
    font-family: 'Courier';
    color: lime;
}

#toDoInput {
    font-family: 'Courier';
    border: none;
    background-color: black;
    color: transparent;
    text-shadow: 0 0 0 lime;
    caret-color: lime;
}

#label {
    font-family: 'Courier';
    color: lime;
}

#postBoard {
    font-family: 'Courier';
    color: lime;
    list-style: none;
}

button, #addButton {
    font-family: 'Courier';
    border: solid lime; 
    background-color: black;
    color: lime;
}
